<script>
	export let urlGetBiglietti;
	export let urlGetQr;
	export let urlVendi;
	export let urlTicketStatusTemplate;
	export let retailId;
	export let applicazione;
	export let elementiPerPagina;
	import CustomerDisplay from "./CustomerDisplay.svelte";
	import { suppress } from "./GevUtil";
	import Post from "./Post.svelte";
	import TicketTable from "./TicketTable.svelte";
	let result = null;
	let userAgent = null;
	let width = null;
	let heigth = null;
	
	if ( 'trm' === applicazione ){
		suppress(()=>width = '940px')
		suppress(()=>heigth = '720px')
	}else{
		suppress(()=>width = '1364px')
		suppress(()=>heigth = '720px')
	}

	suppress(() => (userAgent = navigator.userAgent));

	suppress(() => (userAgent = navigator.userAgent));
	
	function handleMessage(event) {
		suppress(() => (result = event.detail));
	}
</script>

<style>
</style>

<main>
<div style="width:{width}; height:{heigth}; border:1px solid gray">
		{#if 'trm' === applicazione}
			<div>SEZIONE RETAIL TERMINAL</div>
			<!--
		<Post on:listaBiglietti={handleMessage} url={urlGetBiglietti} />
		-->

			<TicketTable
				{urlGetBiglietti}
				{urlVendi}
				{urlTicketStatusTemplate}
				{retailId}
				{elementiPerPagina} />
		{/if}

		{#if 'qr' === applicazione}
			<div>SEZIONE CUSTOMER DISPLAY</div>
			<CustomerDisplay url={urlGetQr} {retailId} />
		{/if}
		<pre>{userAgent}</pre>
	</div>
</main>
