<script>
    import { suppress, format } from "./GevUtil";
    import QRCode from "./qrcode";

    export let url;
    export let retailId;

    let status = "NA";
    let id = "ID";
    let layout = "LAYOUT";
    let price = "0,00 €";
    let timestamp = "";
    let qrCodeString = "";

    const qrCodeTextTemplate =
        "http://193.122.59.163:80/lottomatica-gev/selling/purchase/ticket" +
        "\n" +
        '{"pubKeyAppLottery":"$pkl","idSellingTicket":"{id}","appLotterySha3":"$als"}' +
        "\n" +
        "{retailId}" +
        "\n" +
        "{timestamp}" +
        "\n" +
        "{price}";
    var checkStatus = setInterval(async function () {
        const res = await fetch(url, {
            method: "GET",
            headers: { "Content-Type": "application/json" },
        });

        const json = await res.json();
        /**
         * suppress è utilizzato per sopprimere il polyfill delle promises sul browser qpzilla
         */
        console.log("received", json.id);
        suppress(() => (status = json.status));
        suppress(() => (id = json.id));
        suppress(() => (layout = json.layout));
        suppress(() => (price = json.price));
        suppress(() => (retailId = json.retailId));
        suppress(() => (timestamp = json.timestamp));
        suppress(
            () =>
                (qrCodeString = format(qrCodeTextTemplate, {
                    id: id,
                    retailId: retailId,
                    timestamp: timestamp,
                    price: price,
                }))
        );

        document.getElementById("qrcode").innerHTML = "";
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: qrCodeString,
            width: 256,
            height: 256,
            colorDark: status === "SALEABLE" ? "#000000" : "#aaaaaa",
            colorLight: status === "SALEABLE" ? "#ffffff" : "#cccccc",
            correctLevel: QRCode.CorrectLevel.M,
        });
    }, 3000);
</script>

<style>
    .title{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 10%;
    }
    table {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        color: #212529;
        border: 1px solid #dee2e6;
    }

    table tbody td {
        font-family: "Avenir, Helvetica, Arial, sans-serif";
        font-size: 16px;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        width: 450px;
        
    }
    table tbody td div img{
        width: 450px;
    }
    table tbody td img {
        width: 450px;
    }
    #qrcode {
        text-align: center;
        padding-left: 225px
    }
    #status {
        font-size: 32px;
    }

    .status-SALEABLE {
        color: #0368ab;
    }

    .status-ON.SALE,
    .status-SALEABLE {
        font-weight: 700;
        font-style: italic;
    }

    .status-ON.SALE {
        color: #fbc408;
    }

    .status-SOLD {
        color: #f3711d;
        font-weight: 700;
        font-style: italic;
    }
</style>

<div class="title">Ticket Id: {id}</div>

<table>
    <thead />
    <tbody>
        <tr>
            <td >
                <div style="height:485px; overflow:hidden">
                <img src="data:image/jpg;base64,{layout}" alt="" />
            </div>
            </td>

            <td id="qrcodecontainer">
                <div id="qrcode" />
            </td>
            <td id="status">
                <pre class="status-{status}">{status}</pre>
            </td>
        </tr>
    </tbody>
</table>

{#if false}
    <pre>{layout}</pre>
    <pre>{price}</pre>
    <pre>{retailId}</pre>
    <pre style="border: 1px solid red">{qrCodeString}</pre>
{/if}
