<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	let result = null
	
	async function doPost () {
		const res = await fetch('http://193.122.59.163/retail-terminal-monitor-be/qrcode?retailId=801000', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
		})
		
		const json = await res.json()
		//result = JSON.stringify(json)
		
		/***/
		dispatch('messageBiglietti', {
			text: json
		});
	}



</script>

<button type="button" on:click={doPost}>
	Get Biglietti
</button>