<script>
	import { createEventDispatcher } from "svelte";
import { getBiglietti } from "./GevUtil";

	export let url = null;
	let result = null;

	const dispatch = createEventDispatcher();


	async function doGetBiglietti() {
		let json = await getBiglietti(url);
		/*
		alert(resp);
		const res = await fetch(url, {
			method: "GET",
			headers: { "Content-Type": "application/json" },
		});
		const json = await res.json();
	*/	dispatch('listaBiglietti', json);
			
	}


	//});
</script>

<button type="button" on:click={doGetBiglietti}> Get Biglietti </button>