<script>
    import { format, suppress } from "./GevUtil";

    export let id;
    export let type;
    export let thumbnail;
    export let price;
    export let status;
    export let even;
    export let layout;
    export let retailId;
    export let urlVendi;
    export let urlTicketStatusTemplate;

   
    let displaySellButton = null;
    let saleable = status == "SALEABLE";
    
    if (!saleable) suppress(() => (displaySellButton = "display:none"));

    async function vendiBiglietto(event) {
        fetch(urlVendi, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                id: id,
                layout: layout,
                price: price,
                retailId: retailId,
                status: status,
            }),
        });

        var checkStatus = setInterval(async function () {
            var urlStatus = format(urlTicketStatusTemplate, {
                id: id,
                retailId: retailId,
            });

            const res = await fetch(urlStatus, {
                method: "GET",
                headers: { "Content-Type": "application/json" },
            });
            const json = await res.json();
            console.log("status=>", json.status);

            if (status == "SOLD") {
                displaySellButton = "display:none";
                clearInterval(checkStatus);
            } else {
                suppress(() => (status = json.status));
            }
        }, 500);
    }
</script>

<style>
    .eventrue {
        background-color: #eee;
    }
    .evenfalse {
        background-color: #fff;
    }
    td {
        text-align: center;
    }

    button {
        border-radius: 0;
    }

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

    button {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    button:hover {
        background-color: blue;
        color: white;
    }

    button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
    }
    td.status-SALEABLE {
        font-size: 18px;
        color: #0368ab;
    }

    td.status-ON.SALE,
    td.status-SALEABLE {
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
    }

    td.status-ON.SALE {
        font-size: 18px;
        color: #fbc408;
    }

    td.status-SOLD {
        font-size: 18px;
        color: indianred;
        font-weight: 700;
        font-style: italic;
    }
    


</style>

<tr class="even{even} status-{status}" {id}>
<td><img src="data:image/jpg;base64,{thumbnail}" alt="thumbnail" /></td>
    <td>{id}</td>
    <td class="status-{status}">{status}</td>
    <td>{type}</td>
    <td>{price}</td>
    <td>
        <button
            style={displaySellButton}
            type="button"
            on:click={() => vendiBiglietto({ id })}>
            SELL
        </button>
    </td>
</tr>
