<script>
    import { onMount } from "svelte";
    import TicketRow from "./TicketRow.svelte";
    import { format, getBiglietti, suppress } from "./GevUtil";

    export let urlGetBiglietti;
    export let urlVendi;
    export let urlTicketStatusTemplate;
    export let retailId;
    export let elementiPerPagina;

    let currentPage = null;
    let totPages = null;
    let result = null;

    onMount(async () => {
        let url = format(urlGetBiglietti, { page: 1, retailId: retailId });
        let json = await getBiglietti(url);
        suppress(
            () => 
            totPages = ((json.recordsTotal - (json.recordsTotal % elementiPerPagina)) / elementiPerPagina) + (json.recordsTotal % elementiPerPagina === 0 ? 0 : 1)   
        );
        suppress(() => (currentPage = 1));
        suppress(() => (result = json));
    });

    async function cambiaPagina(e) {
        suppress(() => (result = null)); //flush dati

        let cp = e.currentPage;
        let tot = e.totPages;
        let dest = e.destination;
        if (dest < 1) {
            dest = 1;
        }
        if (dest > tot) {
            dest = tot;
        }
        let url = format(urlGetBiglietti, { page: dest, retailId: retailId });
        let json = await getBiglietti(url);
        suppress(
            () =>
            totPages = ((json.recordsTotal - (json.recordsTotal % elementiPerPagina)) / elementiPerPagina) + (json.recordsTotal % elementiPerPagina === 0 ? 0 : 1)
        );
        suppress(() => (currentPage = dest));
        suppress(() => (result = json));
    }
</script>

<style>
    table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border: 1px solid #dee2e6;
    }

    table th {
        padding: 0.75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }

    table thead th {
        font-family: "Avenir, Helvetica, Arial, sans-serif";
        font-size: 16px;
        vertical-align: bottom;
    }
    #paginator-container {text-align:center;}
</style>

{#if result}
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Ticket Id</th>
                <th>Status</th>
                <th>Type</th>
                <th>Price</th>
                <th>Sell</th>
            </tr>
        </thead>
        <tbody>
            {#each result.data as biglietto, i}
                <TicketRow
                    {...biglietto}
                    even={i % 2 == 0}
                    {urlVendi}
                    {urlTicketStatusTemplate}
                    {retailId} />
            {/each}
        </tbody>
    </table>

    <div id="paginator-container">
        <button
            on:click={() => cambiaPagina({
                    destination: 1,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>««</button>
        <button
            on:click={() => cambiaPagina({
                    destination: currentPage - 5,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>«</button>
        <button
            on:click={() => cambiaPagina({
                    destination: currentPage - 1,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>Prev</button>
        <span>{currentPage}/{totPages}</span>
        <button
            on:click={() => cambiaPagina({
                    destination: currentPage + 1,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>Next</button>
        <button
            on:click={() => cambiaPagina({
                    destination: currentPage + 5,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>»</button>
        <button
            on:click={() => cambiaPagina({
                    destination: totPages,
                    currentPage: currentPage,
                    totPages: totPages,
                })}>»»</button>
    </div>
{/if}
